# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- ENVIRONMENTAL VARIABLES (I tuoi segreti) ---
# Ignora tutti i file che iniziano con .env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

# --- FIREBASE SPECIFIC ---
# Cache e log di Firebase che non servono su Git
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Se hai scaricato una chiave privata per l'admin (NON committarla mai!)
# Solitamente si chiamano serviceAccountKey.json o simili
*serviceAccountKey.json
*firebase-adminsdk*.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts